div {
  border: 1px solid black;
}

#box-a {
  background-color: rgb(123, 25, 18);
} 

#box-b {
  background-color: rgba(225, 80, 75, 0.954);
}
#box-c {
  background-color: rgba(255, 176, 28, 0.995);
}
#box-d {
  background-color: rgb(250, 240, 93);
}
#box-e {
  background-color: rgb(117, 201, 104);
}
#box-f {
  background-color: rgb(19, 162, 194);
}
#box-g {
  background-color: rgb(5, 15, 148);
}
#box-h {
  background-color: rgb(113, 97, 211);
} 
#box-i {
  background-color: rgb(170, 103, 165);
} 

@media(min-width: 768px) and (max-width: 960px){
  #box-a {
    background-color: rgb(232, 151, 151);
  } 
  #box-b {
    background-color: rgba(247, 211, 157, 0.954);
  }
  #box-c {
    background-color: rgba(254, 222, 164, 0.995);
  }
  #box-d {
    background-color: rgb(245, 243, 208);
  }
  #box-e {
    background-color: rgb(215, 240, 212);
  }
  #box-f {
    background-color: rgb(164, 215, 226);
  }
  #box-g {
    background-color: rgb(162, 166, 223);
  }
  #box-h {
    background-color: rgb(201, 195, 235);
  }
  #box-i {
    background-color: rgb(230, 185, 227);
  }
}

@media (min-width: 960px) {
  #box-a {
    background-color: rgb(50, 0, 34);
  } 
  #box-b {
    background-color: rgb(99, 10, 69);
  }
  #box-c {
    background-color: rgb(141, 25, 99);
  }
  #box-d {
    background-color: rgb(175, 53, 175);
  }
  #box-e {
    background-color: rgb(219, 97, 199);
  }
  #box-f {
    background-color: rgb(218, 128, 199);
  }
  #box-g {
    background-color: rgb(220, 149, 220);
  }
  #box-h {
    background-color: pink;
  }
  #box-i {
    background-color: rgb(230, 179, 227);
  }

}